@use "sass:map";

.main-nosotros{
    @include flex($jc:none);
    flex-direction: column;
}

.contenedor-texto{
    background-color:$Pintura2;
    width: 70%;
    text-align: center;
    margin-top: 35px;
    & h2{
        font-size: 30px;
    }
    & p{
        font-size: 18px;
    }
    & .contenedor-h2-p{
        margin-bottom: 50px;
    }
    // & .contenedor-h2-p, .contenedor-h2-p-2{
    //     width: ;
    // }
}   


.titulo__nosotros{
    margin: 20px;
    font-size: 60px;
    font-weight: 800;
    color: $Pintura1;
    text-align: center;
}